html { 
	width: 100vw;
    overflow-x: hidden; 
}

html, body {
  height: 100%;
  margin: 0;

}

body {
	background-image: url("../images/darkWood.png");
	background-repeat: repeat;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

.footer,
.push {
  height: 40px;
}

.bg-dimgray {
	background-color: #666;
}

.text-cadetblue {
	color: #5ba;
}

.text-dimgray {
	color: #666;
}

.border-bottom {
	border-bottom: 3px solid #CCCCCC !important;
}

.border-top {
	border-top: 4px solid #5ba !important;
}

.border-content {
	border-bottom: 1px solid #DDDDDD !important;

}

.btn-nav {
	color: #aaa;
	background-color: #fff;
	border-left: 1px solid #666;
}

.btn-nav:hover {
	color: #fff;
	background-color:#444;
}

.btn-nav:focus, .btn-nav.focus {
  	color: #fff;
	background-color:#444;
	box-shadow: 0 0 0 0rem #5ba;
}

.btn-nav.disabled, .btn-nav:disabled {
  	color: #fff;
  	background-color: #5ba;
}

.btn-nav:not(:disabled):not(.disabled):active, .btn-nav:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  	color: #fff;
  	background-color: #444;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  	box-shadow: 0 0 0 0.2rem #5ba;
}

.current-page {
	color: #fff !important;
	background-color: #5ba !important;
	text-decoration: none !important;
}

.gitHubSmallLink {
	height: 40px;
	width: 40px;
	background-image: url('../images/github.png');
	background-size: 40px;
	border-radius: 5px;
	margin: 6px;
}

.gitHubSmallLink:hover, .gitHubSmallLink:active, .gitHubSmallLink:focus {
	background-image: url('../images/github2.png');
}

.linkedinSmallLink {
	height: 40px;
	width: 40px;
	background-image: url('../images/linkedin.png');
	background-size: 40px;
	border-radius: 5px;
	margin: 6px;
}

.linkedinSmallLink:hover, .linkedinSmallLink:active, .linkedinSmallLink:focus {
	background-image: url('../images/linkedin2.png');
}

.stackSmallLink {
	height: 40px;
	width: 40px;
	background-image: url('../images/stackoverflow.png');
	background-size: 40px;
	border-radius: 5px;
	margin: 6px;
}

.stackSmallLink:hover, .stackSmallLink:active, .stackSmallLink:focus {
	background-image: url('../images/stackoverflow2.png');
}

.gitHubLink {
	height: 80px;
	width: 80px;
	
	background-image: url('../images/github.png');
	background-size: contain;
	border-radius: 5px;
	margin: 6px;
}

.gitHubLink:hover, .gitHubLink:active, .gitHubLink:focus {
	background-image: url('../images/github2.png');
}

.linkedinLink {
	height: 80px;
	width: 80px;
	background-image: url('../images/linkedin.png');
	background-size: contain;
	border-radius: 5px;
	margin: 6px;
}

.linkedinLink:hover, .linkedinLink:active, .linkedinLink:focus {
	background-image: url('../images/linkedin2.png');
}

.stackLink {
	height: 80px;
	width: 80px;
	background-image: url('../images/stackoverflow.png');
	background-size: contain;
	border-radius: 5px;
	margin: 6px;
}

.stackLink:hover, .stackLink:active, .stackLink:focus {
	background-image: url('../images/stackoverflow2.png');
}
